[report]
omit =
    */python?.?/*
    */site-packages/*
    */site-packages/nose/*
    */opentuner/opentuner/*
    */pycl/*
    */ctree/*
    */hindemith/*
    */test/*
    */docs/*
    */dependencies/*
    */benchmarks/*
    */ipython_notebooks/*
